<div class="container d-flex flex-column align-items-center">
  <h2 class="text-center">Iniciar sesión</h2>
  <form (ngSubmit)="submitForm()" class="w-50">
    <div class="mb-3">
      <label for="username" class="form-label" style="color: black; margin-bottom: 5px;">Usuario:</label>
      <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label" style="color: black; margin-bottom: 5px;">Contraseña:</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password">
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </div>
    <div class="text-center" *ngIf="mensaje" class="alert alert-success">{{ mensaje }}</div>

  </form>
</div>
